name: ibm-rmf-grafana

on:
   push:
     branches:
       - 'staging/v*'
       - 'release/v*'
     tags:
       - 'ibm-rmf-grafana/v*'
   pull_request:
     branches:
       - 'staging/v*'
       - 'release/v*'

jobs:
  resolve-versions:
    name: resolve grafana versions
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      matrix: ${{ steps.resolve-versions.outputs.matrix }}
    defaults:
      run:
        working-directory: grafana/rmf-app

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Resolve Grafana E2E versions
        id: resolve-versions
        uses: ./.github/actions/e2e-version

  e2e:
    name: e2e ${{ matrix.GRAFANA_IMAGE.name }}@${{ matrix.GRAFANA_IMAGE.VERSION }}
    runs-on: ubuntu-latest
    needs:
      - resolve-versions
      - build
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        GRAFANA_IMAGE: ${{ fromJson(needs.resolve-versions.outputs.matrix) }}
    defaults:
      run:
        working-directory: grafana/rmf-app

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: grafana/rmf-app/.nvmrc
          cache: 'yarn'
          cache-dependency-path: 'grafana/rmf-app/yarn.lock'

      - name: Install
        run: |
          yarn install
          yarn playwright install --with-deps

      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: rmf-app-grafana

      - name: Unzip
        run: mkdir dist && cd dist && unzip ../../../build/ibm-rmf-grafana-*.zip

      - name: Start Grafana
        run: |
          docker-compose pull
          GRAFANA_VERSION=${{ matrix.GRAFANA_IMAGE.VERSION }} GRAFANA_IMAGE=${{ matrix.GRAFANA_IMAGE.NAME }} docker-compose up -d

      - name: Wait for Grafana to start
        run: |
          timeout 60 bash -c 'until curl -s --head "http://localhost:3000" | grep "HTTP" > /dev/null; do sleep 1; done'

      - name: Run Playwright tests
        run: yarn playwright test

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ (always() && steps.run-tests.outcome == 'success') || (failure() && steps.run-tests.outcome == 'failure') }}
        with:
          name: playwright-report-${{ matrix.GRAFANA_IMAGE.NAME }}-v${{ matrix.GRAFANA_IMAGE.VERSION }}-${{github.run_id}}
          path: playwright-report/

  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: grafana/rmf-app

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: grafana/rmf-app/.nvmrc
          cache: 'yarn'
          cache-dependency-path: 'grafana/rmf-app/yarn.lock'

      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version-file: grafana/rmf-app/go.mod
          cache-dependency-path: grafana/rmf-app/go.sum

      - name: Test
        run: make test

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.58
          only-new-issues: true
          working-directory: grafana/rmf-app

      - name: Build
        run: make all

      - name: Fetch Release Notes
        id: changelog
        run: |
          awk '/^## / {s++} s == 1 {print}' CHANGELOG.md > RELEASE_NOTES.md

      - name: Upload Build
        uses: actions/upload-artifact@v4
        with:
          name: rmf-app-grafana
          path: |
            grafana/rmf-app/RELEASE_NOTES.md
            grafana/rmf-app/build/ibm-rmf-grafana-*

  sign:
    runs-on: code-sign
    needs: build
    if: startsWith(github.ref, 'refs/tags/ibm-rmf-grafana/v')

    steps:
      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: rmf-app-grafana

      - name: Sign
        run: |
          $env:Path = 'C:\Program Files (x86)\Garantir\GRS;' + $env:Path
          gpg-agent
          gpg --detach-sign -a build/ibm-rmf-grafana-*.zip

      - name: Upload Signature
        uses: actions/upload-artifact@v4
        with:
          name: rmf-app-grafana-signature
          path: build/ibm-rmf-grafana-*.zip.asc

      - name: Clean up
        run: rm -r -force *

  release:
    runs-on: ubuntu-latest
    needs: sign
    if: startsWith(github.ref, 'refs/tags/ibm-rmf-grafana/v')

    steps:
      - name: Download Build
        uses: actions/download-artifact@v4
        with:
          name: rmf-app-grafana

      - name: Download Signature
        uses: actions/download-artifact@v4
        with:
          name: rmf-app-grafana-signature

      - name: Release Draft
        uses: softprops/action-gh-release@v1
        with:
          prerelease: false
          draft: true
          files: |
            build/ibm-rmf-grafana-*
            ibm-rmf-grafana-*.zip.asc
          body_path: RELEASE_NOTES.md
